<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

<welcome-file-list>
	<welcome-file>LoginPage.jsp</welcome-file>
</welcome-file-list>

<servlet>
	<servlet-name>LoginServlet</servlet-name>
	<servlet-class>com.quinnshultz.opal.web.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>LoginServlet</servlet-name>
	<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Jersey Web Application</servlet-name>
	<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
	<init-param>
		<param-name>jersey.config.server.provider.classnames</param-name>
		<param-value>com.quinnshultz.opal.web.PasswordAccountService, com.quinnshultz.opal.web.AuthenticationEndpoint</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
	<servlet-name>Jersey Web Application</servlet-name>
	<url-pattern>/api/*</url-pattern>
</servlet-mapping>

</web-app>